﻿@{
    ViewData["Title"] = "Home page";
}

<div class="main_frame" id="mainFrame">
    @{
        foreach (var post in ViewBag.Posts)
        {
            PostPreviewModel postPreviewModel = post;
            <div class="post_plate">
                <div class="post-content">
                    <div class="post_header">@postPreviewModel.PostHeader</div>
                    <div class="post-text">@postPreviewModel.PostText</div>
                </div>
                <img class="post-image" src="@postPreviewModel.ImagePath" alt=""/>
            </div>
        }
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/site.js"></script>
<script src="js/index.js"></script>
