@{
    ViewData["Title"] = "Make publication";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<form method="post" class="publication-form" asp-action="Publish" enctype="multipart/form-data">
    <div class="main_frame" id = "mainFrame">

        <div class="input_element_plate">
            <input type="text" name="header" class="header_input_field" placeholder="Заголовок"/>
        </div>
        <div class="input_element_plate">
            <textarea class="post_text_input_field" name="text" placeholder="Текст публикации"></textarea>
        </div>
        <div class="input_element_plate">
            <label for="image" class="drop-container">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" name="uploadedFile" accept="image/*" required>
            </label>
        </div>
        <div class="input_element_plate">
            <button type="submit" class="submit-button">Опубликовать</button>
        </div>
    </div>
</form>
</body>
<script src="js/site.js"></script>
</html>