﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="header" id="myHeader">
    <div class="logotype">LOGOTYPE</div>
    <a class="header_button" asp-area="" asp-controller="Home" asp-action="Index">Лента</a>
    <a class="header_button" asp-area="" asp-controller="Home" asp-action="Privacy">Галерея</a>
    <a class="header_button" asp-area="" asp-controller="Home" asp-action="Privacy">Запись на фотосессию</a>
    <a class="header_button" asp-area="" asp-controller="Home" asp-action="Publish">Публикация</a>
</div>
@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>