html {
    font-size: 14px;
    background-color: #f1f1f1;
    padding-top: 0;
}

@media screen and (max-width: 768px) {
    /*html {*/
    /*    font-size: 16px;*/
    /*}*/
/*    
    .post_plate {
        flex-direction: column;
    }
    .main_frame {
        background-color: #0a53be;
    }
    .post-image {
        max-width: 100%;
        max-height: none;
    }*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1f1f1;
}

body {
    margin: 0;
    font-family: Arial;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    background: black;
    color: #f1f1f1;
    width: calc(100% - 10px);
    position: fixed;
    align-items: flex-end;
    border-radius: 16px;
    padding-left: 5px;
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    z-index: 2;
}

.header2 {
    background: black;
    color: #f1f1f1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 16px;
    margin: 5px;
    visibility: hidden;
}

.content_area {
    margin: 0 300px 300px;
    background-color: gray;
}

.main_frame {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    min-width: 100%;
    min-height: 1080px;
}

.header_button {
    background-color: white;
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    font-family: "Cantarell Extra Bold", system-ui;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin: 5px 5px 0;
    transition: all 0.2s;
    display: inline-flex;
}

.header_button:hover {
    background-color: white;
    color: black;
    font-family: "Cantarell Extra Bold", system-ui;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin: 5px 5px 0;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.logotype {
    font-family: "Cantarell Extra Bold";
    font-size: 45px;
    margin-right: 50px;
    display: inline-flex;
}

.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.post_plate {
    margin: 10px;
    background-color: white;
    border-radius: 16px;
    width: 70%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
    display: inline-flex;
    transition: all 0.2s;
}


.post_plate:hover {
    transform: scale(1.02);
}

.post_header {
    font-family: Cantarell;
    font-size: 30px;
    font-weight: bold;
    flex-shrink: 2;
}

.post-content {
    padding: 20px 20px 20px 30px;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 2;
    overflow: hidden;
    height: 100%;
    max-height: 600px;
}

.post-text {
    font-family: "Cantarell Light";
    padding-top: 10px;
    font-size: 20px;
}

.post-image {
    max-width: 60%;
    height: 100%;
    max-height: 600px;
    border-radius: 11px;
}

.input_element_plate {
    background-color: white;
    margin: 15px;
    border-radius: 16px;
    width: 60%;
    padding: 20px;
    transition: all 0.2s;
}

.input_element_plate:hover {
    background-color: white;
    margin: 15px;
    border-radius: 16px;
    width: 65%;
    padding: 20px;
}

.header_input_field {
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-family: Cantarell;
    font-weight: bold;
    font-size: 50px;
    overflow: visible;
}

.header_input_field:focus {
    outline: none !important;
}

.post_text_input_field {
    border: none;
    font-family: "Cantarell Light";
    min-height: 300px;
    width: 100%;
}

.post_text_input_field:focus {
    outline: none !important;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.publication-form {
    display: flex;
!important;
}

.submit-button {
    background-color: deepskyblue;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 5px 10px;
    font-family: "Cantarell Extra Bold";
    font-size: 20px;
    margin-left: auto;
}